body {
  color: white;
  width: 400px;
  min-height: 150px;
  padding: 0px;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(12, 12, 22);
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;
}

#titleElement {
  background-color: #111136;
  display: flex;
  border-radius: 15px;
  border: 2px solid #1f1f64;
  margin: 10px;

  justify-content: center;
  align-items: center;
}

#titleElement h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#infoDisplay {
  margin: 10px;
  margin-top: 0px;
  padding: 10px 30px;
  background-color: #111136;
  border-radius: 15px;
  border: 2px solid #1f1f64;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
}

.stat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

#infoDisplay p {
  margin: 0;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.switchRow {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.switchRow:nth-last-of-type(1) {
  margin-bottom: 5px;
}

.switchRow p {
  white-space: nowrap;
}

.layoutDiv {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px 20px;
  background-color: #111136;
  border-radius: 15px;
  border: 2px solid #1f1f64;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.switchRow>div>label {
  margin-bottom: 5px;
}

.statsText {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderround {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.sliderround:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.sliderround {
  background-color: #2196f3;
}

input:focus+.sliderround {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.sliderround:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

#buttonDiv {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 0px;
  padding: 5px 15px;
  background-color: #111136;
  border-radius: 15px;
  border: 2px solid #1f1f64;
  text-align: center;
  
}

#buttonDiv p {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#buttonPressed {
  justify-content: center;
  width: auto;
  padding: 5px;
  border-radius: 15px;

  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#toggleSwitches {
  display: flex;
  margin: 10px;
  margin-top: 0px;
  background-color: #111136;
  border-radius: 15px;
  border: 2px solid #1f1f64;
  flex-direction: column;
}

.subjectName {
  margin-left: 0px;
  margin-right: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.InputGrade {
  text-decoration: underline;
  margin-left: 0px;
  margin-right: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.errorDiv {
  display: flex;
  width: 100%;
  text-align: center;
}

#profileDiv{
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-top: 0px;
  padding: 5px 15px;
  background-color: #111136;
  border-radius: 15px;
  border: 2px solid #1f1f64;
  text-align: center;
  gap: 5px;
}
.profileButtons{
  flex-grow: 1;
  
  justify-content: center;
  width: auto;
  padding: 5px;
  border-radius: 15px;

  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
#selectedProfile{
  text-decoration: underline #000000 solid 3px;
}